name: Prowler Org Scan

on:
  workflow_dispatch:

jobs:
  prowler-scan:
    runs-on: ubuntu-latest
    env:
      ORG_MANAGEMENT_ACCOUNT_ID: ${{ secrets.ORG_MANAGEMENT_ACCOUNT_ID }}
      ORG_ROLE_NAME: "ProwlerAuditRole"
      RESULTS_BUCKET: ${{ secrets.RESULTS_BUCKET }}
      REGION: "us-east-1"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS CLI for Org Management Account
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.MGMT_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.MGMT_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.REGION }}

      - name: Get list of AWS accounts in the org
        id: list_accounts
        run: |
          aws organizations list-accounts --query "Accounts[?Status=='ACTIVE'].Id" --output text > accounts.txt

      - name: Install Prowler
        run: |
          git clone https://github.com/prowler-cloud/prowler.git
          cd prowler         
          pip install -r requirements.txt
          chmod +x prowler


      - name: Run Prowler on each account
        run: |
          while read account_id; do
            echo "Scanning account: $account_id"
            creds=$(aws sts assume-role \
              --role-arn arn:aws:iam::$account_id:role/${ORG_ROLE_NAME} \
              --role-session-name prowler-session \
              --query 'Credentials.[AccessKeyId,SecretAccessKey,SessionToken]' \
              --output text)

            export AWS_ACCESS_KEY_ID=$(echo $creds | awk '{print $1}')
            export AWS_SECRET_ACCESS_KEY=$(echo $creds | awk '{print $2}')
            export AWS_SESSION_TOKEN=$(echo $creds | awk '{print $3}')

            ./prowler/prowler -M csv,json,html -S -A $account_id -R $REGION \
              --bucket $RESULTS_BUCKET \
              --output-filename prowler-report-$account_id

          done < accounts.txt
